
// variable de couleurs //

$color-primary: #CAF0AC;
$color-light: #E3F8D1;
$color-secondary: #B0E584;
$color-dark: #87C453;
$color-red: red;
$color-white : white;



//couleur de background//
.color-primary {
    background-color: $color-primary;
}
.color-secondary {
    background-color: $color-secondary;
}
.color-light {
    background-color: $color-light;
}
.color-dark {
    background-color: $color-dark;
}

.color-white {
    background-color: $color-white;
}


//couleur de texte//
.color-red {
    color: $color-red;
}


.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.thumbnailListe {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-height: 150px;
    width: auto;
    max-width: 150px;
}

.color-prix {
    font-size: 3em;
    color: $color-red;
}

.img-panier {

	width: 350px;
	height: 350px;
}

.image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 300px;
}

.bottom-prix {
    position: absolute;
    bottom: 0px;
}

.img-float img {
    display: block;
    margin-right: 5px;
}
