{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
    <ul>
        <a href="/paiement/moyen_de_paiement/carte_de_credit" class="button">
            <li>Carte de crédit</li>
        </a>
        <a href="/commande/commander" class="button">
            <li>Virement</li>
        </a>
        <a href="/commande/commander" class="button">
            <li>Paypal</li>
        </a>
    </ul>
{% endblock %}
