{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
    <ul>
        <a href="{{ path('paiement_carte') }}" class="button">
            <li>Carte de crédit</li>
        </a>
        <a href="{{ path('paiement_virement') }}" class="button">
            <li>Virement</li>
        </a>
        <a href="{{ path('paiement_paypal') }}" class="button">
            <li>Paypal</li>
        </a>
    </ul>
{% endblock %}
