{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
    <ul>
        <a href="{{ path('remboursement_carte', {'id':id}) }}" class="button">
            <li>Carte de crédit</li>
        </a>
        <a href="{{ path('remboursement_virement', {'id':id}) }}" class="button">
            <li>Virement</li>
        </a>
        <a href="{{ path('remboursement_paypal', {'id':id}) }}" class="button">
            <li>Paypal</li>
        </a>
    </ul>
{% endblock %}
