{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
<h1>Modifier ses données personnelles</h1>

{{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}