{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
    {% for categorie in categories %}
        <div>
            <a href="/sous_categories/{{categorie.Id}}">
                <img src="/images/categorie/{{ categorie.catImage }}" alt="">
                {{categorie.catNom}}
            </a>
        </div>
    {% endfor %}
{% endblock %}
