{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
{# mise en page des vide sur les cotés #}
<div class="columns is-mobile is-centered is-multiline">
    <div class="column is-four-fifths">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li class="is-active"><a href="/categorie/" aria-current="page">acceuil</a></li>
            </ul>
        </nav>

        <header>
            <div class="content">
                <h1>Liste de nos catégories :</h1>
            </div>
        </header>
        {# colonne multiligne dans la colone principale #}
        <div class="columns is-desktop is-multiline">
            {# boucle pour générer un element card contenue dans une sous-colonne de largeur 3 #}
            {% for categorie in categories %}
            <div class="column is-3">
                <div class="block">
                    <div class="card">
                        <div class="card-image">
                            <a href="/sous_categories/{{categorie.Id}}">
                                <img src="/images/categorie/{{ categorie.catImage }}" alt="">
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content has-text-centered">
                                    <p class="title is-4">{{categorie.catNom}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}