{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
{# mise en page des vide sur les cotés #}
<div class="columns is-mobile is-centered is-multiline mb-6">
    <div class="column is-four-fifths">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li class="is-active"><a href="/categorie/" aria-current="page">acceuil</a></li>
            </ul>
        </nav>

        <header>
            <div class="content has-text-centered mb-5">
                <h1>Nos catégories :</h1>
            </div>
        </header>
        {# colonne multiligne dans la colone principale #}
        <div class="columns is-multiline is-tablet">
            {# boucle pour générer un element card contenue dans une sous-colonne de largeur 3 #}
            {% for categorie in categories %}
            <div class="column is-one-quarter-desktop is-half-tablet">
                <div class="columns card is-10 toute-hauteur">
                    <div class="column">
                        <a href="/sous_categories/{{categorie.Id}}">
                            <div class="">
                                <div class="">
                                    <div class="card-image">
                                        <figure class="thumbnailListeBox centre-block">
                                            <img src="/images/categorie/{{ categorie.catImage }}" alt="Image représentative de la catégorie" class="thumbnailListe" />
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content has-text-centered">
                                                <p class="title is-5">{{categorie.catNom}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}