{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
    <ul>
        {% for row in produit.images %}
            <li><img src="/images/produit/{{ row }}" alt="N'affiche pas d'image"></li>
        {% endfor %}
        <li>{{ produit.proProduit }}</li>
        <li>{{ produit.proDescription }}</li>
    </ul>
    <a href="/panier/ajouter/{{produit.id }}" class="button">Ajouter au panier</a>
{% endblock %}
