{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
    {% for produit in listeProduits %}
        <div>
            
            <a href="/produit/{{produit.Id}}">
                <img src="/images/produit/{{ produit.imagePrincipale }}" alt="image du produit">
                {{produit.proAccroche}}
            </a>
        </div>
    {% endfor %}
{% endblock %}
