{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
    {% for sousCategorie in sousCategories %}
    <div>
        <a href="/liste_produits/{{sousCategorie.Id}}">
            <img src="/images/sousCategorie/{{ sousCategorie.souImage }}" alt="">
            {{sousCategorie.souNom}}
        </a>
    </div>
{% endfor %}
{% endblock %}
